
.form {
   display: flex; 
   flex-direction: column; 
   width: 300px;
  padding: 12px;
  background-color: rgba(136, 134, 134, 0.6);
  border: none;
  border-radius: 4px;
  margin-left: 100px;
  
 } 

.form label {
  margin-bottom: 16px;
  color: #4e4c4c;
  border-radius: 4px;
  font-size: large;
  font-weight: 700;
  margin: auto;
} 

.form button {
  padding: 8px 12px;
  font: inherit;
  cursor: pointer;
  border: none;
  border-radius: 40px;
  font-size: large;
  font-weight: 700;
  margin-top: 10px;
  color: #4e4c4c;
}

.form input {
  padding: 8px 12px;
  border: 2px black;
  outline: none;
  border-radius: 40px;
}